{% from 'bootstrap/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if title is not none %}{{ title }}{%endif %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
	{% block head %}
    {% endblock %}
</head>
<body>
	<main class="container">
		{% if menu is not none %}{{ menu|safe }}{%endif %}
        {{ render_messages(container=False, dismissible=True) }}
        {% block content %}
        	{% if content is not none %}{{ content|safe }}{%endif %}
			{% if error is not none %}<span style="color:red">Error: {{ error }}</span>{%endif %}
        {% endblock %}
    </main>
    <footer class='container'> 
      <nav>
         <span class='copyright'>© 1999-2021&nbsp;
           <a href='http://www.bitplan.com'>BITPlan GmbH.</a>&nbsp;Alle Rechte vorbehalten.
         </span>
         &nbsp;
         <span class='imprint'><a href='Impressum'>Impressum</a></span>
      </nav>
    </footer>
    {% block scripts %}
    	{{ bootstrap.load_js() }}
    {% endblock %}	
</body>    