# Mediawiki and SMW API
# https://pypi.org/project/py-3rdparty-mediawiki/
py-3rdparty-mediawiki~=0.6.2
# https://pypi.org/project/pylodstorage/
pylodstorage~=0.2.1
# https://github.com/claird/PyPDF4
# https://pypi.org/project/PyPDF2/
# issue https://github.com/sfneal/PyPDF3/issues/13
# https://github.com/sfneal/PyPDF3
# makes it unusuable (showstopper) for our usecase
# PyPDF3
# https://pypi.org/project/pdfminer/
pdfminer
# web server with Flask and Bootstrap4
pyFlaskBootstrap4~=0.4.6
# https://pypi.org/project/watchdog/
watchdog
# https://pypi.org/project/APScheduler/
APScheduler
# https://pypi.org/project/Flask-AutoIndex/0.6.6/
#Flask-AutoIndex
# dependency of Flask-AutoIndex
#Flask-Silk
flask-dropzone
